header {
  background-color: #0020f4;
  position: fixed;
  width: 100%;
}
.logo {
  max-width: 115px;
  width: 100%;
}
.logo,
.header-nav {
  display: inline-block;
  vertical-align: middle;
}
.header-nav li {
  display: inline-block;
  font-family: HELVETICA-2;
}
.nav-ul a {
  color: #ffff;
}
.header-nav {
  margin-left: 100px;
}
.nav-ul li {
  margin-left: 20px;
}
