/*section 1 and section 2*/
@font-face {
  font-family: "HELVETICA";
  src: url(../font/HELVETICA-NEUE-LT-GEO-75-BOLD.ttf) format(truetype);
}
@font-face {
  font-family: "HELVETICA-2";
  src: url(../font/HELVETICANEUELTGEO-45LIGHTS.ttf) format(truetype);
}
body {
  width: 1920px;
  overflow-x: hidden;
}
.section-bg {
  background-color: #0020f4;
}
.section-image1 {
  width: 29%;
  max-width: 707px;
  margin-right: 25px;
  margin-bottom: 203px;
  margin-top: 162px;
}
.section-image2 {
  width: 40%;
  max-width: 948px;
  margin-top: 97px;
  margin-bottom: 65px;
}
.dot1,
.dot2,
.dot3 {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 136px;
  margin-top: 49px;
}
.dot2,
.dot3 {
  opacity: 30%;
}
.dot1 {
  margin-left: 140px;
  margin-right: 20px;
}
.dot2 {
  margin-right: 20px;
}
.section-2 {
  background-color: #ffffff;
}
.section-2 h1 {
  font-size: 32px;
  letter-spacing: 0px;
  margin-bottom: 60px;
  margin-top: 180px;
  font-family: "HELVETICA";
}
.section-2 article p {
  width: 463px;
  height: 385px;
  font-size: 16px;
  letter-spacing: 0px;
  display: inline-block;
  font-family: "HELVETICA-2";
}
.section-image3 {
  width: 100%;
  max-width: 707px;
  margin-left: 137px;
  margin-top: 100px;
  border-radius: 15px;
  border-right: 15px solid #0020f4;
  border-bottom: 15px solid #0020f4;
  margin-bottom: 50px;
}
.section-image3,
.section-2 article p {
  vertical-align: top;
}
a {
  text-decoration: none;
}

.text {
  width: 400px;
  margin-bottom: 10rem;
  margin-left: 100px;
}

.section-4 {
  display: flex;
  padding: 20px 5%;
  gap: 30px;
  margin-right: 20rem;
}

.section-4 h1 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.section-4 p {
  line-height: 1.3;
}

.sct-4-img {
  width: 607px;
  box-shadow: -50px 31px 20px rgba(72, 36, 255, 0.32),
    -10px 5px 0px rgb(72, 36, 255);
  border-radius: 20px;
  height: fit-content;
}

@media (width < 1222px) {
  .sct-4-img {
    width: 300px;
    height: fit-content;
  }

  .section-4 p {
    font-size: 12px;
  }

  .section-4 {
    margin-right: 70rem;
  }
}

footer {
  background-color: #0020f4;
  height: 30vh;
  width: 100%;
  padding: 20px;
  margin-top: 10rem;
}

.foot-img1 {
  width: 300px;
}

.footer-container p {
  position: absolute;
  top: 60%;
  left: 5px;
  backdrop-filter: blur(20px);
  height: 70px;
  border-radius: 10px;
  background-color: #ffffff38;
  padding: 10px;
}

.footer-div-1 {
  position: relative;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 20rem;
  height: auto;
  position: relative;
  height: 60vh;
}

@media (width < 1220px) {
  .footer-container img {
    width: 200px;
  }

  .footer-flex {
    margin-right: 70rem;
  }
}

.foot-div {
  margin-bottom: 50px;
}

.bold {
  font-weight: bold;
}

footer h1 {
  margin-left: 4rem;
  color: #ffff;
  font-weight: bold;
  font-size: 20px;
}

.footer-flex a {
  position: absolute;
  text-decoration: none;
  color: #000;
  border-left: 1px solid #333;
  padding-left: 10px;
  bottom: 1rem;
  right: 10rem;
}
